.TodoBand {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 14px;
  box-shadow: 1px 1px 3px black;
  border-radius: 10px;
  margin-bottom: 8px;
  border: 1px solid silver;
  max-width: 100%;
  width: 100%;
}

.DateSection {
  margin: 0 15px 0 10px;
  padding: 3px;
  min-width: 60px;
}

.title {
  flex: 2;
  padding: 5px 8px;
  width: max-content;
  font-weight: 600;
  text-align: left;
  font-size: 20px;
}

.Actions {
  border-left: 1px solid #ccc;
  padding: 2px 10px;
}

.Details {
  max-width: 100%;
  width: 95%;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 1px 1px 2px black;
  border-radius: 8px;
}

.Content {
  display: flex;
  flex-flow: column nowrap;
}

.Target {
  display: flex;
  flex-flow: row nowrap;
  padding: 15px;
  background-color: var(--blue);
  margin: 6px 0;
  font-size: 16px;
  color: #fff;
  border-radius: 10px 10px 0 0;
  box-shadow: 1px 1px 3px black;
  align-items: center;
}

.Label {
  margin-right: 8px;
  font-weight: 700;
  font-size: 18px;
  color: var(--blue);
}

.Target .Label {
  color: #fff;
}

.Description {
  padding: 20px 15px;
  margin-bottom: 5px;
  font-size: 15px;
  border-bottom: 1px solid #ccc;
}

.Status {
  display: flex;
  align-items: center;
  padding: 10px;
  width: max-content;
  box-shadow: 3px 1px 4px black;
  border: 1px solid #000;
  border-radius: 10px;
  margin-left: auto;
  transform: scale(0.7);
  cursor: pointer;
}

.Status:active {
  box-shadow: 0 0 2px black;
}

@keyframes details-show {
  0% {
    transform: translate(120%) scale(0);
    height: 0px;
    display: none;
  }

  100% {
    transform: translate(0) scale(1);
    height: 100%;
    display: flex;
  }
}

@keyframes details-hide {
  0% {
    transform: translate(0) scale(1);
    height: 100%;
    display: flex;
  }

  100% {
    transform: translate(120%) scale(0);
    height: 0px;
    display: none;
  }
}

.completedMark,
.incompleteMark {
  margin: 0 10px;
  padding: 10px;
  color: greenyellow;
  font-size: 35px;
  font-weight: 800;
  text-shadow: 1px 1px 3px black;
}

.incompleteMark {
  font-size: 25px;
}

@media (max-width: 600px) {
  .TodoBand {
    flex-flow: column nowrap;
  }

  .Actions {
    border-top: 1px solid #ccc;
    border-left: 0 none;
  }

  .Target {
    flex-flow: column nowrap;
    font-size: 14px;
  }

  .Status {
    margin-left: 0;
  }

  .title {
    margin-top: 8px;
    padding: 8px 3px;
  }
}
