.Modal {
  position: fixed;
  width: 600px;
  max-width: 90vw;
  height: 240px;
  z-index: 10;
  top: -25%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 3px 3px 8px black;
  margin-left: -300px;
  margin-top: -140px;
  border-radius: 15px;
  border: 1px solid rgb(167, 167, 167);
  backdrop-filter: blur(8px);
  opacity: 0;
}

.Modal.Show {
  animation: modal 0.4s ease-in-out 1 forwards;
}

@keyframes modal {
  0% {
    top: -25%;
    opacity: 0;
  }

  100% {
    top: 40%;
    opacity: 1;
  }
}

.TitleArea {
  height: 55px;
  background: linear-gradient(to right top, rgb(0, 81, 255), rgb(51, 114, 230));
  border-bottom: 3px solid #ccc;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 20px;
  justify-content: space-between;
  color: #fff;
}

.Content {
  padding: 20px;
  height: calc(100% - 65px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: rgb(12, 11, 11);
}

.Close {
  height: 28px;
  width: 28px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 19px;
  font-weight: 600;
  box-shadow: 2px 2px 4px black;
  color: rgb(0, 81, 255);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.Close:active {
  box-shadow: 0 0 2px black;
  font-size: 18px;
}
